body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.container {
  margin: 20px auto;
}

.title {
  font-size: larger;
  font-weight: 800;
}

/* .contents-section {
  border: 3px solid #e9e9e9;
  padding: 10px;
} */

.contents-section h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  height: 20px;
  padding: 10px;
  border: 1px solid black;
  align-content: center;
}

.approval-contents {
  line-height: 2.2;
  height: 500px;
}

th {
  min-width: 35%;
  align-content: center;
  background-color: #f2f2f2;
  font-weight: bold;
}

input,
select,
textarea,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 100px;
}

.btn-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 버튼 */
.contents_wrapper button {
  margin: 2px;
  padding: 6px 12px;
  color: white;
  background-color: #3b82f6;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.contents_wrapper button:hover {
  background-color: #2563eb;
}
.contents_wrapper button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5);
}

.top-info {
  display: flex;
  justify-content: space-between;
  gap: 35%;
}

.info-table,
.signature-table {
  display: inline-block;
  min-width: 20%;
  vertical-align: top;
}

.signature-table td:nth-child(1) {
  height: 60px;
}

.signature-table {
  text-align: center;
}
